* {
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 0;
margin: 0;
box-sizing: border-box;
font-weight: 200px;
color: white;
}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 20px;
}
.main-nav{
    list-style: none; 
    display:inline-flex;
    float:right;
    align-items:center;
    height:60px;
}
.main-nav li{
    margin-left: 20px;
    
}
.main-nav li a{
    text-decoration: none;
    
}
.main-nav li a:hover{
    color: #20B2AA;
    border-style: none;
    text-decoration: underline;

}
.active{
    font-weight: bold;
    color: #20B2AA;
}

header{
    background-image: url(./images/computer.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.text-container{
    left: 30%;
    top: 42%;
    text-align: left;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
}
.btn-discover{
    display: inline;
    text-decoration: none;
    padding: 10px 30px;
    background-color:#696969;
    border-radius: 10px;
}

.btn-discover:hover{
    color: #20B2AA;
    transition: 0.8 sec;
    border: 1px solid #20B2AA;
    background:none;    
}
.content button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family: calibri;
    font-weight:bold;
    font-size: 16px;
    outline: none;
    margin: o 10px;
    background: none;
    color:white;
    border-color: #20B2AA;
}
h1{
    color:#20B2AA;
    font-size: 90px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

